<div mat-dialog-content>
  <h4 mat-dialog-title>Download the Learning Outcome CSV</h4>
  <div class="px-10">
    <p>This action will download all learning outcomes associated with this unit.</p>
    <mat-checkbox [(ngModel)]="includeTaskOutcomes"
      >Include the unit's task learning outcomes</mat-checkbox
    >
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="downloadCsv()">Download</button>
</div>
